@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Bitcount+Grid+Double:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Popins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
    --dark-blue:#0A1D3C;
    --light-gray:#E5E5E5;
    --white:#FFF;
    --light-peach:#F9E3BC;
    --dark-gray:#3E3F43;
    --light-black:#1D1D1D;


    /* section-1 */
}
.section{
    min-height: 100vh;
    width: 100%;
}
nav{
    width: 80%;
    height: 13vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;


}
header{
    width: 80%;
    height: calc(100vh - 13vh);
   
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
}
.navlinks{
    display: flex;
}
.header-img{
    width: 30rem;
    height: 40rem;
    transition: transform .5s ease-in-out;
   
    
    margin-top: 20px;
      

}
.header-img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
  

}
.logo{
    font-size: 3.3rem;
    color: var(--dark-blue);
    font-family: 'Allison',cursive;
}
.navlinks li{
    list-style: none;


}
.navlinks-active{
    right: 0;
}
.navlinks li a{
    text-decoration: none;
    margin-left: 2.5rem;
    color: var(--dark-gray);
    font-size: 1rem;
    letter-spacing: .03rem;
    position: relative;

}
.header-heading::before{
    content:"New" ;
    position: absolute;
    top: 210px;
    font-family: 'Allison',cursive;
    font-size: 60px;
}
.header-heading{
    font-size: 60px;
}
.Product-name{
    font-size: 2rem;
   
}
.Product-price{
    font-size: 1.5rem;
     margin: 1rem 0;

}
.btn-container{
    display: flex;
    margin-top: 2rem;

}
.pri-btn, .sec-btn{
 font-size: 1.1rem;
 border: none;
 padding:  1rem 1.7rem;
 transition: transform .5s ;
}
.pri-btn{
    background: var(--light-gray);
}
.sec-btn{
    background:var(--dark-blue);
    color: var(--white);
    transform: scale(1.1);
    
}
.pri-btn:hover , .section-two-button:hover , .sec-4-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.sec-btn:hover{
    transform: scale(1);
    cursor: pointer;
}
.navlinks li a::after  , .navlinks li .active::after {
content: "";
background: var(--dark-gray);
position: absolute;
height: .15rem;
width: 100%;
left: 0;
bottom: -2px;
transform: scaleX(0);
transition: transform .5s ease;
transform-origin: right;

}
.navlinks li a:hover::after , .navlinks li .active::after{
    transform: scaleX(1);
    transform-origin: left;
}
.line{
    background:  var(--dark-gray);
    width: 2.5rem;
    height: .2rem;
    margin: .38rem;
}
.hamburger{
    cursor: pointer;
    display: none;
}

   /* section-2 */
.section-two{
    display: flex;
    align-items: center;
}
.section-two-container{
    background: var(--light-peach);
    width: 100%;
    height: 50vh;
    transform: skewY(-6deg);

}
.section-two-image{
    width: 28rem;
}
.section-two-inner-container{
    transform: skewY(6deg);
    width: 80%;
    margin: auto;

}
.section-two-container , .section-two-inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: flex-start;
  
}

.section-two-heading{
    color: var(--dark-gray);
    font-size: 4rem;
}
.section-two-prize{
    font-size: 1.6rem;
    color: var(--dark-gray);
    margin: .9rem 0;
}
.section-two-button{
    padding: .9rem 1.7rem;
    border: .1rem solid var(--light-black);
    background: transparent;
    transition: transform .5s;

}

  /* section 3 */
 
.section-heading{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4rem;
}
.card-container{
   
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.card-img{
    width: 20rem;
    transition: transform .5s ease-in-out;
}
.card{
    background: var(--light-gray);
    padding: 1rem;
}
.card-price{
    font-size: 1.2rem;
    margin-top: .2rem;
    margin-bottom: 1.2rem;

}
.card-img:hover{
 transition: transform .5s ease-in-out;
 cursor: pointer;
 transform: scale(1.1);
}


   /* section 4 */

.section-four{
    display: flex;
    align-items: center;
}
.section-four-container{
    background-image: url("images/watch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-attachment: fixed;


}
.section-four-offer{
    font-size: 4rem;
    color: var(--light-peach);
     font-family: 'Allison',cursive;
     text-transform: uppercase;
}
.section-four-heading{
    font-size: 4rem;
    color: var(--white);
    margin-bottom: 1rem;
}
.sec-4-btn{
    font-size: 1.1rem;
    padding: 1rem 1.7rem;
    background: var(--light-peach);
    border: none;
    transition: transform .5s ease;
}
.section-four-container::before{
    content: "";
    background-color: rgba(0,0,0, 0.54);
    position: absolute;
    inset: 0;


}
.section-four-container .content{
    z-index: 5;
}

 /* Section-5 */
 .grid-card-container{
    
    width: 60%;
    height: 80vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap: 1rem;
    grid-auto-rows: 15rem;
 }
 .grid-card{
    background: var(--light-gray);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

 }
 .grid-card:nth-child(1){
    grid-row: 1/4;
    background-image: url("images/rado\ watch.jpg");
    
 }
 .grid-card:nth-child(2){
 background-image: url("images/geneve\ watch.jpg");
 }


  
 .grid-card:nth-child(3){
    grid-row: 1/3;
    background-image: url("images/tissot\ watch.jpg");

    
 }
 .grid-card:nth-child(4){
    grid-row: 3/4;
    background-image: url("images/cartier\ watch.jpg");
    
 }
 .grid-card:nth-child(5){
     background-image: url("images/omega\ watch.jpg");
 }

.grid-card:nth-child(6){
     background-image: url("images/fitron\ watch.jpg");
    }
 .grid-card::before{
    content: "";
    position: absolute;
    background:rgba(0,0,0, 0.54) ;
    inset: 0;
    transform: scaleX(0);
    opacity: 0;
    visibility: hidden;

 }
.grid-card::after{
 
position: absolute;
text-transform: uppercase;
background: var(--light-peach);
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
padding: 1rem 1.7rem;
font-size: 1.1rem;
cursor: pointer;
}
    /* Media */

@media screen and (max-width: 500px){
    .header-img{
        display: none;

    }
    .header-heading::before{
        top: 160px;
    }
   
    .navlinks{
        flex-direction: column;
        position: absolute;
        top: 0;
        background:  var(--light-gray);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        right: 100%;
        z-index: 5;
        gap: 2rem;


    }
    .navlinks-active{
        right: 0;
    }
    .navlinks li a{
        font-size: 1.3rem;
        
    }
    .hamburger{
        display: block;
        z-index: 5;
    }
    .logo{
        z-index: 6;
    }
    .header-heading{
        font-size: 4rem;
    }
    header{
       
        justify-content: flex-start;
    }
    .card-price{
        font-size: 1.2rem;

    }

     
     

     /* section 2 */


     .section-two-image{
        display: none;
     }

     .section-two-heading{
        font-size: 2.9rem;
     }
     .section-two-para{
        font-size: .93rem;
        max-width: 100%;


     }
     .section-two-prize{
        font-size: 1.4rem;
     }

     .section-two-button{
        font-size: 1rem;
        padding: .7rem 1rem;
     }
     .section-two-container{
        height: 60vh;

     }
     .section-two-inner-container{
        width: 90%;
     }
       /* Section 3 */

       .card-img{
        width: 17rem;
       }

       /* section-4 */
       .section-four-heading{
        font-size: 2.8rem;
       }
       .section-four-offer{
        font-size: 2.3rem;
       }
       .sec-4-btn{
        font-size: 1rem;
       }

       /* section 5 */
       .grid-card-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 90%;

       }
       .grid-card:nth-child(1),.grid-card:nth-child(3){
        grid-row: 1/2;
       }
}